.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
bien_ranges.geojson
bien_occurrence_california.geojson
hex_species_plants_ranges
birds/*.shp
birds/ecoregion_data/*.shp
birds/ecoregion_data/**/*.shp
