.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
bien_ranges.geojson
bien_occurrence_california.geojson
hex_species_plants_ranges
birds/*.shp
birds/ecoregion_data/*.shp
birds/ecoregion_data/**/*.shp
plants/ecoregion_data/**/*.shp
Mammals/full_hex_intersect_ranges_joined.dbf
Mammals/full_hex_intersect_ranges_joined.prj
Mammals/full_hex_intersect_ranges_joined.shp
Mammals/full_hex_intersect_ranges_joined.shx
Mammals/mammal_complete_species_list*
squamate/squamate_range_data/*
amphibians/REPTILES/
amphibians/full_hex_intersect*
amphibians/AMPHIBIANS
butterflies/ButterflyRanges
birds/ecoregion_data_2/*/*.shp
**/*.shp
**/*.dbf
**/*.prj
**/*.shx
